/* general things */
body {
    width: 750px !important;
    display: inline;
    color: blue;
}
header {
    height: 90px;
    width: inherit;
    background-image: url(clouds.jpg);
    background-repeat: repeat-x;
}
footer {
    text-align: center;
    color: white;
    background-color: blue;
    width: inherit;
}
.blue-border {
    border: 1px solid blue;
}
.va-top {
    vertical-align: top;
}

/* element styling */
section, aside {
    display: inline-block;
}
aside {
    width: 228px;
}
.custom-table {
    width: 520px;
}
.banner {
    height: 250px;
    width: 100%;
}
.table-news {
    margin-left: 10px;
}
.table-news th {
    color: white;
    background-color: blue;
    font-weight: bold;
    border: 1px solid white;
    text-align: left;
}
label {
    width: 20px;
}
#comments {
    max-width: 520px;
}
#name, #surname {
    max-width: 150px;
    margin-right: 4px;
}
#email {
    width: 300px;
}
.radio-wrapper {
    min-width: 75px;
}
#return, #departure {
    max-width: 135px;
}