$primary: blue;
$secondary: white;
body {
    width: 750px !important;
    display: inline;
    color: $primary;

    header {
        height: 90px;
        width: inherit;
        background-image: url(clouds.jpg);
        background-repeat: repeat-x;

        #plane {
            float: right;
            position: relative;
            animation-name: fly;
            animation-duration: 10s;
            animation-iteration-count: infinite;
        }
    
        @keyframes fly {
            0% {right: 0px}
            40% {right: 546px; transform:rotateY(0deg)}
            50% {right: 546px; transform:rotateY(180deg)}
            90% {right: 0px; transform:rotateY(180deg)}
            100% {right: 0px}
        }
    }

    footer {
        text-align: center;
        color: $secondary;
        background-color: $primary;
        width: inherit;
    }

    .blue-border {
        border: 1px solid $primary;
    }

    .va-top {
        vertical-align: top;
    }

    .hide {
        display: none;
    }

    section, aside {
        display: inline-block;
        
        .custom-table {
            width: 520px;
            
            .banner {
                height: 250px;
                width: 100%;
            }

            #comments {
                max-width: 520px;
            }

            #name, #surname {
                max-width: 150px;
                margin-right: 4px;
            }

            #email {
                width: 300px;
            }

            .radio-wrapper {
                min-width: 75px;
            }

            #return, #departure {
                max-width: 135px;
            }
        }
    }

    aside {
        width: 228px;

        .table-news {
            margin-left: 10px;

            th {
                color: $secondary;
                background-color: $primary;
                font-weight: bold;
                border: 1px solid $secondary;
                text-align: left;
            }
        }
    }

    label {
        width: 20px;
    }
}