<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="Web and Internet Engineering Project">
		<meta name="author" content="Milena Maul, Enes Varcan, and Wes Ford">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="styles.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
		<title>Code Rage</title>
	</head>
	<body class="single-page page">
		<div class="container-fluid" id="header">	
			<div class="row">
				<div class="col-sm-12 col-md-4 order-2 order-md-1">
					<h1>Code Rage</h1>
				</div>
				<div class="col-sm-12 col-md-8 order-1 order-md-2 m-auto d-flex justify-content-end">
					<nav class="navbar navbar-expand-sm custom-search px-sm-0 d-flex justify-content-start">
						<form class="form-inline" action="/action_page.php">
							<input class="form-control mx-2" type="text" placeholder="Search">
							<button class="btn btn-custom" type="submit">Search</button>
						</form>
					</nav>
					<div class="my-auto mx-3 custom-profile">
						<a href="#">
							<img class="profile-img" src="code.jpg">
							<span>profile here</span>
						</a>
					</div>
				</div>
			</div>			
		</div>
		<div class="container-fluid" id="body">
			<div class="container pt-30">
				<form method="GET">
				<div class="row blog-teaser">
						<div class="col-12 mt-4 mb-2">
							<input type="text" placeholder="Headline">
						</div>
						<div class="col-12 my-2">
							<button class="btn btn-custom" style="width:132px; margin-left: 0; position: absolute">Choose image</button><span style="position: absolute; margin-left: 145px; margin-top: 12px;">display image name</span>
							<input class="upload-btn" type="file" style="margin-top:8px; position:relative; opacity: 0;">
						</div>
						<div class="col-md-12 my-2">
							<textarea class="col-md-8 p-1" placeholder="Blog text"></textarea>
						</div>
						<div class="col-md-12 mt-2 mb-4">
							<button class="btn btn-custom" type="submit">Submit</button>
							<button class="btn btn-custom" type="reset">Reset</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>
	