<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="Web and Internet Engineering Project">
		<meta name="author" content="Milena Maul, Enes Varcan, and Wes Ford">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="styles.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
		<title>Code Rage</title>
	</head>
	<body class="profile-page page">
		<div class="container-fluid" id="header">	
			<div class="row">
				<div class="col-sm-12 col-md-4 order-2 order-md-1">
					<h1>Code Rage</h1>
				</div>
				<div class="col-sm-12 col-md-8 order-1 order-md-2 m-auto d-flex justify-content-end">
					<nav class="navbar navbar-expand-sm custom-search px-sm-0 d-flex justify-content-start">
						<form class="form-inline" action="/action_page.php">
							<input class="form-control mx-2" type="text" placeholder="Search">
							<button class="btn btn-custom" type="submit">Search</button>
						</form>
					</nav>
					<div class="my-auto mx-3 custom-profile">
						<a href="#">
							<img class="profile-img" src="code.jpg">
							<span>profile here</span>
						</a>
					</div>
				</div>
			</div>			
		</div>
		<div class="container-fluid" id="body">
			<div class="container pt-30">
				<div class="row settings-container">
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-2 col-6">
								<img class="blog-img blog-img-inline p-0 py-4" src="code.jpg">
							</div>
							<div class="col-md-10 col-6">
								<h4 class="py-4">Name</h4>
							</div>
						</div>
						<hr class="blue-line-hr">
						<div class="row mx-3 my-2">
							<div class="col-6 m-auto">
								<p>Setting 1</p>
							</div>
							<div class="col-6 text-right">
								<button class="btn btn-custom" type="submit">Button</button>
							</div>
						</div>	
						<div class="row mx-3 my-2">
							<div class="col-6 m-auto">
								<p>Setting 1</p>
							</div>
							<div class="col-6 text-right">
								<button class="btn btn-custom" type="submit">Button</button>
							</div>
						</div>	
						<div class="row mx-3 my-2">
							<div class="col-6 m-auto">
								<p>Setting 1</p>
							</div>
							<div class="col-6 text-right">
								<button class="btn btn-custom" type="submit">Button</button>
							</div>
						</div>	
						<hr class="blue-line-hr">
						<div class="row mx-3 my-2">
							<div class="col-6 m-auto">
								<p>Setting 1</p>
							</div>
							<div class="col-6 text-right">
								<button class="btn btn-custom" type="submit">Button</button>
							</div>
						</div>
						<div class="row mx-3 my-2">
							<div class="col-6 m-auto">
								<p>Setting 1</p>
							</div>
							<div class="col-6 text-right">
								<button class="btn btn-custom" type="submit">Button</button>
							</div>
						</div>
						<div class="row mx-3 my-2">
							<div class="col-6 m-auto">
								<p>Setting 1</p>
							</div>
							<div class="col-6 text-right">
								<button class="btn btn-custom" type="submit">Button</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
	