<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="WIE Assignment 06">
<meta name="author" content="Roberto Confalonieri">
<title>Flask - Products List</title>

<!-- Bootstrap core CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

</head>
<body>

	<div class="container">
		<h1>Products in the database</h1>

		<div class="row">
			<div class="col-md-12 order-md-1">
				<table class="table">
					<thead>
						<tr>
							<!-- <th scope="col">#</th> -->
							<th scope="col">Name</th>
							<th scope="col">Price</th>
						</tr>
					</thead>
					<tbody id="tableBody">
						{% for product in products %}
			            <tr>
			               <td>{{product.name}}</td>
			               <td>{{product.price}}</td>
			            </tr>
			         	{% endfor %}
					</tbody>
				</table>
			</div>
      </div>
      
      <div class="row">
      	<div class="col-md-12 order-md-1">
         <ul>
             <li>
             	<a href = "/">Go back to home page</a>
             </li>
         </ul>
        </div>
      </div>

      <footer class="my-5 text-muted text-center text-small">
         <p class="mb-1">&copy; 2020 ACME Inc.</p>
      </footer>

	</div>			
</body>
</html>