<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport"
   content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="WIE Assignment 06">
<meta name="author" content="Roberto Confalonieri">
<title>Flask - Product page </title>

<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
   <div class="container">

      <h1>Product page</h1>
		<div class="row">

		         <div class="col-md-12 order-md-1">
		            
		            <p>{{ msg }}</p>
      				
                     <table class="table">
                     <thead>
                        <tr>
                           <!-- <th scope="col">#</th> -->
                           <th scope="col">Product name</th>
                           <th scope="col">Product price</th>
                        </tr>
                     </thead>
                     <tbody id="tableBody">
                           <tr>
                              <td>{{ name }}</td>
                              <td>{{ price }}</td>
                           </tr>
                     </tbody>
                  </table>
      				
		         </div>

		 </div>
       <div class="row">
         <ul>
                     <li>
                        <a href = "/">Go back to home page</a>
                     </li>
                     
                  </ul>
      </div>

      <footer class="my-5 text-muted text-center text-small">
         <p class="mb-1">&copy; 2020 ACME Inc.</p>
      </footer>
   </div>
</body>
</html>
